/*==============
    Global
================*/

:root {
    --header_font: "Product Sans Black Italic";
    --sub_header_font: "Product Sans Bold";
    --explaination_font: "Product Sans Medium Italic";
    --selected_font: "Product Sans Medium Regular";
    --blue: rgba(5, 124, 202, 0.637);
    --red: #E82127;
}

html,
body {
    background: url("img/backgroundImg.jpg") no-repeat center;
    background-size: cover;

    color: white;
    font-family: "Product Sans Light Regular";
    font-size: 14px;

    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;    
}

.subHeader {
    font-family: "Product Sans Medium Regular";
    font-size: 2.5rem;

    opacity: 0;
    visibility: hidden;
}

input[type="checkbox"]:checked ~ .logBlock .subHeader {
    opacity: 1;
    visibility: visible;
}

.hide,
#isgame__checkbox:checked ~ .logBlock :is(.about, .logButton) {
    display: none !important;
}

/*==============
    Header
================*/

header {
    height: 25px;
    margin: 15px 20px;
    position: relative;
}

header .creators {
    position: absolute;
    background-image: linear-gradient(
        to right,
        rgba(255, 101, 101, 0.904) 11%,
        orange 22%,
        yellow 33%,
        rgb(33, 196, 33) 45%,
        rgb(0, 162, 255) 56%,
        violet 67%,
        rgba(255, 101, 101, 0.904) 78%,
        orange 99.8%
    );
    background-size: 400%;

    font-family: var(--explaination_font);
    font-size: 1.2rem;

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation-delay: 2s;
    animation: rainbow 6s linear infinite;
}

/* -- popup -- */

header .topMsg {
    position: absolute;
    background-color: rgb(58, 152, 207);
    left: 50%;
    top: 0;
    padding: 10px 20px;
    transform: translate(-50%, 0);
    z-index: 1;

    border-radius: 1.5rem;
}

header .topMsg__hide {
  top: -100px;
  transition: top 0.5s linear 1s;
}

header .topMsg__bold {
  animation: bold 1s linear;
}

header .topMsg * {
  display: inline-block;
  vertical-align: middle;
}

.topMsg .topMsg__text,
.room__onlineStatus {
  color: red;
}

.topMsg .topMsg__text {
  letter-spacing: 2px;
  font-family: var(--sub_header_font);
}

.topMsg .topMsg__img {
  background: url("img/x.png") no-repeat center;
  background-size: contain;

  height: 15px;
  width: 15px;
}

.topMsg .topMsg__img__connected {
  background-image: url("img/swoosh.png");
}

.topMsg .topMsg__text__connected,
.room__onlineStatus {
  color: rgb(105, 201, 54);
}

/*==============
    Log Block
================*/

.logBlock {
  position: absolute;
  background-color: var(--blue);

  box-shadow: 0px 2px 5px 1px rgb(64 60 67 / 16%);
  text-align: center;

  left: 50%;
  top: 50%;
  height: 200px;
  width: 85%;
  transform: translate(-50%, -50%);

  border-radius: 2rem;

  transition: height 0.8s, width 0.8s;
  overflow: hidden;
}

#isgame__checkbox:checked ~ .logBlock {
  width: 90%;
  height: 80%;
  max-width: 800px;
  min-height: 280px;

  transition: all 0.8s;
}

input[type="checkbox"]:checked ~ .logBlock {
  height: 85%;
  transition: all 0.8s;
}

/* -- Trivia Night Title -- */

.logBlock .triviaNight {
  font-family: var(--header_font);
  font-size: 60px;
  margin: 20px 0 0 15px;
}

#isgame__checkbox:checked ~ .logBlock .triviaNight {
    cursor: pointer;
}

/* -- Log Buttons -- */

.logBlock .logButton {
  display: inline-block;
  background-color: rgb(221, 224, 223, 0.2);

  margin: 25px 10px 25px 10px;
  padding: 8px 0;
  width: 120px;
  border-radius: 0.6rem;
}

#signup__checkbox:checked ~ .logBlock #signup__button,
#login__checkbox:checked ~ .logBlock #login__button,
.logBlock .logButton:active {
  font-family: var(--selected_font);
}

.logBlock .logButton:active {
  padding: 7px 0;
  width: 120px;
}

.uppercase {
  text-transform: capitalize;
}

/*==============
    Log Form
================*/

.logBlock form {
    position: relative;

    height: 0;
    width: 200px;
    margin: 0 auto;

    overflow: hidden;
}

#signup__checkbox:checked ~ .logBlock .signup,
#login__checkbox:checked ~ .logBlock .login {
    height: 65%;
    margin: 5px auto;
    overflow: visible;
}

input {
    margin: 4px 0;
    border: 2px solid transparent;
    border-radius: 0.8rem;
    width: 100%;
    height: 25px;
    text-align: center;
}

input::selection {
  background-color: pink;
}

/* ===============
    Signup Form 
==================*/

.signup .signup__apt {
  position: absolute;
  right: 0;
  width: 20%;
}

.signup .signup__street {
  position: absolute;
  left: 0;
  width: 75%;
}

.signup .signup__date,
.signup .signup__email {
  margin-bottom: 15px;
}

.signup .signup__email,
.signup .signup__phone {
    transition: margin-top .5s;
}

.signup .passwordValidation .valid {
    color: transparent;
    transition: color .4s;
}


.signup .passwordValidation {
    position: absolute;

    text-align: left;
    text-align: -webkit-left;
    color: transparent;

    height: 0;
    left: 20%;
    right: 20%;

    z-index: -1;
    border-radius: 1rem;
    padding: 1rem;

    transition: left .3s, right .3s, height .3s, background-color 0s ease .2s, color .4s;
}


.signup .emailCompleter,
.signup__password:focus ~ .passwordValidation {  
    background-color: rgba(255, 255, 255, 0.301);
    font-family: var(--selected_font);
}

.signup__password:focus ~ .passwordValidation {
    color: var(--red);
    height: 80px;
    
    left: 5%;
    right: 5%;
    transition: left .3s, right .3s, height .5s ease, color .4s;
}


.signup__password:focus ~ .passwordValidation .valid {    
    color: lightgreen;
}

.signup__password:focus ~ .signup__email {
    margin-top: 120px;
    transition: margin-top .5s;
}


/* -- email completer -- */
.emailCompleter {
    position: absolute;

    text-align: center;
    color: transparent;
    height: 0;
    left: -10%;
    right: -10%;
    border-radius: .5rem;
    z-index: -1;

    transition: left .4s, right .4s, height .3s, color .2s, background-color 0s ease .4s, margin-top 0s .4s;
}

#emailCompleter__checkbox:checked + .emailCompleter {

    color: rgba(39, 39, 39, 0.822);

    height: 30px;
    left: -14%;
    right: -14%;

	margin-top: -10px;
    z-index: 0;
    
    line-height: 30px;

	transition: left .4s, right .4s, color .4s;
}

#emailCompleter__checkbox:checked ~ .signup__phone,
.emailCompleter:active ~ .signup__phone {
    margin-top: 40px;
    transition: margin-top .5s;
}

.emailCompleter * {
    display: inline-block;
	line-height: normal;
	vertical-align: middle;
}

.emailCompleter .option {
    cursor: pointer;
	padding: 2px 5px;
	border-radius: 1rem;
}

.emailCompleter :is(.option:hover, .option:focus) {
	background-color: rgba(223, 223, 223, 0.452);
}

.emailCompleter .option:active {
	padding: 1px 3px;
	margin: 1px 2px;
}

.submit {
  height: 25px;
  width: 40%;

  margin-top: 10px;

  border-radius: 1rem;
}

.submit:focus,
.submit:active {
  font-family: var(--selected_font);
}

.submit:active {
  margin-top: 12px;
  height: 21px;
  font-size: 1.01rem;
}

/*=========
    Menu
===========*/

.menu,
.logoutBlock,
.createRoom,
.showRooms,
.showStats {
  visibility: hidden;
  opacity: 0;
}

.menuOption__checkbox:checked ~ .menu {
  opacity: 0 !important;
  visibility: hidden !important;
}

#isgame__checkbox:checked ~ .logBlock .menu,
#isgame__checkbox:checked ~ .logBlock .logoutBlock,
#createRoom__checkbox:checked ~ .createRoom,
#showRoom__checkbox:checked ~ .showRooms,
#showStats__checkbox:checked ~ .showStats {
  visibility: visible;
  opacity: 1;
}

.menu {
  display: flex;
  position: absolute;

  background-color: transparent;
  justify-content: space-around;
  width: 95%;
  height: 50%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0);
  transition: opacity 0.4s, visibility 0.4s;
}

#isgame__checkbox:checked ~ .logBlock .menu {
  top: 30%;
  transition: opacity 0.4s 0.3s, visibility 0.4s 0.3s;
}

.menuOption {
  flex-grow: 1;
  background-color: rgba(16, 185, 163, 0.829);

  font-family: var(--sub_header_font);
  font-size: 1.1rem;

  height: 60px;
  width: 50px;
  line-height: 60px;
  margin: auto 5px;

  padding: 0 10px;
  border-radius: 1.8rem;
}

/*===========
    Logout
=============*/

.logoutBlock {
  display: flex;
  position: absolute;

  left: 6%;
  bottom: 6%;
  height: 15px;
  width: 75px;
  padding: 6px 10px 6px 6px;

  border-radius: 2rem;
}


#isgame__checkbox:checked ~ .logBlock .logoutBlock {
  background-color: var(--blue);
  box-shadow: 0px 2px 5px 1px rgb(64 60 67 / 16%);
}

#isgame__checkbox:checked ~ .logBlock .logoutBlock:active {
    font-family: var(--selected_font);
}

.logoutBlock .logout {
    font-size: .9rem;
    letter-spacing: 1px;
}

.logoutBlock .gobackSymbol {
    width: 18px;
    height: 100%;
    filter: invert(100%);
}

/*===============
    Menu Options
=================*/

/* -- create room -- */

.createRoom {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    
    transition: opacity .4s .3s, visibility .4s .3s;
}

.logBlock .createRoom .createRoom__form {
  height: auto;
  width: 50%;
}

.createRoom__form .field {
  display: table;
  text-align: left;
  width: 100%;
  font-size: 1.2rem;
  font-family: var(--selected_font);
}

.createRoom__form .field * {
  display: table-cell;

  letter-spacing: 2px;
}

.createRoom__form label {
  cursor: auto;
  width: 150px;
}

.createRoom__form input[type="text"] {
  background-color: transparent;
  color: white;

  text-align: left;
  text-transform: capitalize;
  width: 100%;

  border-bottom: rgba(117, 117, 117, 0.658) solid 2px;
  border-radius: 0.3rem;
}

/* -- show rooms -- */

.showRooms {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 80%;
  left: 10%;
}


.showRooms .room {
  display: flex;
  background-color: white;
  flex-grow: 1;

  margin: 5px;
  padding: 5px 10px;
  border-radius: 0.5rem;
}

.showRooms .room__full {
    background-color: rgba(201, 201, 201, 0.479);
}

.showRooms .room * {
  flex-grow: 1;
  color: black;
}

.showRooms .room div {
  width: 15%;
  overflow-x: scroll;
}

.showRooms .room span {
  width: 10px;
}

.room .room__name:hover {
  opacity: 0.75;

  background-color: rgba(192, 191, 191, 0.63);
  border-radius: 0.5rem;

  cursor: pointer;
}

.showRooms .room__full .room__name:hover {
    cursor: auto;
}

/*===============
    Show Statistics
=================*/


.showStats {
    display: flex;
    height: 35vh;
    margin-top: 30px;

    transition: opacity .4s .3s, visibility .4s .3s;
}

.showStats .loading {
    position: absolute;

    width: 20px;
    height: 20px;
    
    left: 50%;
    top: 50%;
    
    transform: translate(-50%, -50%);
}

.showStats .values,
.showStats .keys {
    display: inline-block;
    height: 200px;
    letter-spacing: 2px;
}

.showStats .values {
    font-family: var(--selected_font);
}

.showStats .global .item {
    font-family: var(--selected_font);
    font-size: 1rem;
}

.showStats .global,
.showStats .personal {
    position: relative;
    flex-grow: 1;
    width: 100px;
    height: 100%;
    overflow-y: scroll;
    font-size: 1.1rem;
}

.showStats .item {
    text-align: left;
    margin: 15px;
} 

.showStats .sep {
    background-color: rgb(107, 107, 107);
    height: 250px;
    width: 1px;
    margin-top: -5px;
    border-radius: 1rem;    
}

/* -- Top Places -- */
.showStats .global .firstPlace {
    color:gold;
    font-size: 1.5rem;
}
.showStats .global .secPlace {
    color:silver;
    font-size: 1.4rem;
}
.showStats .global .thirdPlace {
    color:#ffac75;
    font-size: 1.3rem;
}



/*===============
    Room Data
=================*/

.roomData {
    position: absolute;
    background-color: var(--blue);

    font-size: 1.3rem; 

    width: 200px;
    height: 250px;
    margin-top: 20px;
    left: calc(50% - 100px);

    border-radius: 2rem;
}

.roomData__subHeader {
    padding: 10px;
}

.roomData__admin {
    font-family: var(--selected_font);
    font-size: 1.4rem;
}





/*==============
    Responsive
================*/

@media only screen and (min-width: 660px) {
  .logBlock {
    width: 480px;
  }

  .logBlock .triviaNight {
    font-size: 70px;
    margin: 10px;
  }

  .logBlock .logButton {
    font-size: 1.2rem;

    margin: 15px 5px 20px 5px;
    padding: 7px 0;
    width: 124px;

    border-radius: 0.7rem;
  }

  .logBlock .logButton:active {
    font-family: var(--selected_font);
    padding: 6px 0;
  }

  .menuOption {
    height: 90px;
    font-size: 1.4rem;
    line-height: 90px;
    margin: auto 15px;
  }
}

@media only screen and (min-width: 750px) {
  .menuOption {
    height: 80px;
    font-size: 1.5rem;
    line-height: 80px;
    margin: auto 15px;
  }

  .menu {
    width: 680px;
  }
}
